<!DOCTYPE html>
<html lang="en">

<head>
    <title>Using chart in HTML page</title>
    <meta charset="utf-8" />
    <!-- Automatically support high DPI devices -->
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/@arction/lcjs@3.3.3/dist/lcjs.iife.js"></script>
    <script src="https://unpkg.com/@arction/xydata@1.4.0/dist/xydata.iife.js"></script>
    
    <style>
        html,
        body {
            height: 100%;
            margin: 0;
        }

        .box {
            display: flex;
            flex-flow: column;
            height: 100%;
        }

        .box .row.header {
            flex: 0 1 auto;
        }

        .box .row.content {
            flex: 1 1 auto;
        }
    </style>
</head>

<body class="box">
<h5 class="row header title-display"></h5>

<!-- Create div to render the chart into-->
<div id="target" class="row content"></div>
 
<script>

    $( document ).ready(function() {
        let userId = getUrlParameter('userId');
        let type = getUrlParameter('type');

        fetch(window.location.origin+'/api/data/'+userId).then((r) => r.json()).then((data) => {
              if (type == 'leadI') {
                let point = data .map(obj => {
                        return { 'x': obj.time, 'y': obj.leadI };
                });
                $('.title-display').text("Đạo trình leadI")
                displayData(point, -0.5, 0.5);
              }
              else if (type == 'leadII') {
                let point = data .map(obj => {
                        return { 'x': obj.time, 'y': obj.leadII };
                });
                $('.title-display').text("Đạo trình leadII")
                displayData(point, -3, 3);
              } else if (type == 'leadIII') {

                  let point = data .map(obj => {
                      return { 'x': obj.time, 'y': obj.leadIII };
                  });

                  $('.title-display').text("Đạo trình LeadIII")
                  displayData(point, 1.5, 2.5);
              } else if (type == 'avR') {

                  let point = data .map(obj => {
                      return { 'x': obj.time, 'y': obj.avR };
                  });

                  $('.title-display').text("Đạo trình avR")
                  displayData(point, -1.8, 0);
              }
              else if (type == 'avL') {

                  let point = data .map(obj => {
                      return { 'x': obj.time, 'y': obj.avL };
                  });

                  $('.title-display').text("Đạo trình avL")
                  displayData(point, -1.5, 0);
              }
              else if (type == 'avF') {

                  let point = data .map(obj => {
                      return { 'x': obj.time, 'y': obj.avF };
                  });

                  $('.title-display').text("Đạo trình avF")
                  displayData(point, 1.5, 3);
              }
              else if (type == 'v1') {
                let point = data .map(obj => {
                        return { 'x': obj.time, 'y': obj.v1 };
                });
                $('.title-display').text("Đạo trình v1")
                displayData(point, 1.2, 3.5);
              }
              else if (type == 'v2') {
                let point = data .map(obj => {
                        return { 'x': obj.time, 'y': obj.v2 };
                });
                $('.title-display').text("Đạo trình v2")
                  displayData(point, 1.2, 3.5);
              }
              else if (type == 'v3') {
                let point = data .map(obj => {
                        return { 'x': obj.time, 'y': obj.v3 };
                });
                $('.title-display').text("Đạo trình v3")
                  displayData(point, 1.2, 3.5);
              }
              else if (type == 'v4') {
                $('.title-display').text("Đạo trình v4")
                let point = data .map(obj => {
                        return { 'x': obj.time, 'y': obj.v4 };
                });
                  displayData(point, 1.2, 3.5);
              }
              else if (type == 'v5') {
                let point = data .map(obj => {
                        return { 'x': obj.time, 'y': obj.v5 };
                });
                $('.title-display').text("Đạo trình v5")
                  displayData(point, 1.2, 3.5);
              }
              else if (type == 'v6') {
                let point = data .map(obj => {
                        return { 'x': obj.time, 'y': obj.v6 };
                });
                $('.title-display').text("Đạo trình v6")
                  displayData(point, 1.2, 3.5);
              }

        });
    });

     function displayData(point, minY, maxY) {
                        // Import data Generator 
                const {
                      lightningChart,
                  AxisScrollStrategies,
                  Themes
                    } = lcjs
                
                    // Import data-generators from 'xydata'-library.
                    const {
                      createSampledDataGenerator,
                      createProgressiveFunctionGenerator 
                    } = xydata
                
              
                // Create a XY Chart.
                const chart = lightningChart().ChartXY({
                  theme: Themes.lightNew, 
                }).setTitle('ECG')

              // Create line series optimized for regular progressive X data.
              const series = chart.addLineSeries({
                  dataPattern: {
                      // pattern: 'ProgressiveX' => Each consecutive data point has increased X coordinate.
                      pattern: 'ProgressiveX',
                      // regularProgressiveStep: true => The X step between each consecutive data point is regular (for example, always `1.0`).
                      regularProgressiveStep: true,
                  }
              })
                  // Destroy automatically outscrolled data (old data becoming out of scrolling axis range).
                  // Actual data cleaning can happen at any convenient time (not necessarily immediately when data goes out of range).
                  .setMaxPointCount(point.length + 1)
                  .setMouseInteractions(false)

              // Setup view nicely.
              chart.getDefaultAxisY()
                  .setTitle('mV')
                  .setInterval(minY, maxY)
                  .setScrollStrategy(AxisScrollStrategies.regressive)

              chart.getDefaultAxisX()
                  .setTitle('seconds')
                  .setInterval(0, 1)
                  .setScrollStrategy(AxisScrollStrategies.progressive)

              
              createSampledDataGenerator(point, 1, 10)
                  .setSamplingFrequency(1)
                  .setInputData(point)
                  .generate()
                  .setStreamBatchSize(1)
                  .setStreamInterval(100)
                  .setStreamRepeat(false)
                  .toStream()
                  .forEach(point => {
                      // Push the created points to the series.
                      series.add({ x: point.data.x , y: point.data.y })
                  })
     }

    function getUrlParameter(sParam) {
      var sPageURL = window.location.search.substring(1),
          sURLVariables = sPageURL.split('&'),
          sParameterName,
          i;

      for (i = 0; i < sURLVariables.length; i++) {
          sParameterName = sURLVariables[i].split('=');

          if (sParameterName[0] === sParam) {
              return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
          }
      }
      return false;
  };
</script>
</body>

</html>
